.DS_Store
!*.dll
*.swp
*.user
/node_modules
/package-lock.json
/package.json
/scripts/CreativeDeveloperTools_ES/ARM64/
/scripts/CreativeDeveloperTools_ES/mac64/
/scripts/CreativeDeveloperTools_ES/win32/
/scripts/CreativeDeveloperTools_ES/win64/
/scripts/CreativeDeveloperTools_ES.*.zip
/scripts/node_modules
